<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Coding Events</h1>

<nav th:fragment="fragments :: navigation" ></nav>

<div>
    <table th:each="event:${events}">
        <tr>
            <th th:text="${event.key}" >Default</th>
        </tr>
        <tr>
            <td th:text="${event.value}" >Default2</td>
            <td th:replace="replace :: address"></td>
        </tr>
    </table>
</div>

</body>
</html>